<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
</head>
<body>

<div th:each="task : ${tasks}">
    <a th:href="@{/tasks/{id}(id=${task.getId()})}" th:text="${task.getDescription()}">TASK TEXT</a>
</div>

<hr/>
<form th:method="POST" th:action="@{/tasks}" th:object="${task}">
    <label for="description">Add description: </label>
    <input th:field="*{description}" id="description" type="text">

    <label for="status">Select status: </label>
    <select id="status" th:field="*{status}" name="statusValue">
        <option th:each="status : ${T(com.vunnen.springcrud.model.Status).values()}"
                th:text="${status}"
                th:value="${status}">
        </option>
    </select>

    <input type="submit" value="Create new task!">
</form>

<div class="pagination" th:if="${totalPages > 1}">
    <span th:each="i : ${#numbers.sequence(1, totalPages)}">
        <a th:if="${i != currentPage}"
           th:href="@{/tasks(page=${i}, pageSize=${pageSize})}"
           th:text="${i}"></a>
        <span th:unless="${i != currentPage}"
              th:text="${i}"
              class="current-page"></span>
    </span>
</div>
</body>
</html>