<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update task</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/tasks/{id}(id=${task.getId()})}" th:object="${task}">
    <label for="description">Edit description: </label>
    <input th:field="*{description}" id="description" type="text">

    <label for="status">Edit status: </label>
    <select id="status" th:field="*{status}" name="statusValue">
        <option th:each="status : ${T(com.vunnen.springcrud.model.Status).values()}"
                th:text="${status}"
                th:value="${status}">
        </option>
    </select>

    <input type="submit" value="Update!">
</form>

</body>
</html>